@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}

.flexslider {
    margin: 0;
    padding: 0
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden
}

.flexslider .slides img {
    width: 100%;
    display: block
}

.flexslider .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.flex-pauseplay span {
    text-transform: capitalize
}

html[xmlns] .slides {
    display: block
}

* html .slides {
    height: 1%
}

.no-js .slides > li:first-child {
    display: block
}

.flexslider {
    background: #fff;
    margin: 0 0 60px;
    position: relative;
    zoom: 1;
    overflow: hidden
}

.flexslider .slides {
    zoom: 1
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease
}

.loading .flex-viewport {
    max-height: 300px
}

.carousel li {
    margin-right: 5px
}

.flex-direction-nav {
    *height: 0
}

.flex-direction-nav a {
    background: url("../../img/direction-nav.png") no-repeat 0 0;
    cursor: pointer;
    display: block;
    height: 50px;
    margin: -20px 0 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    -webkit-transition: all .3s ease;
    width: 30px;
    z-index: 10
}

.flex-direction-nav .flex-next {
    background-position: 100% -50px;
    right: 0
}

.flex-direction-nav .flex-prev {
    background-position: 0 -50px;
    left: 0px
}

.flex-direction-nav .flex-disabled {
    cursor: default;
    filter: alpha(opacity=30);
    opacity: 0.1 !important
}

.flex-control-nav {
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10
}

.flex-control-paging li {
    display: inline-block;
    margin: 0 6px;
    zoom: 1;
    *display: inline
}

.flex-control-paging li a {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: block;
    height: 11px;
    text-indent: -9999px;
    width: 11px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7)
}

.flex-control-paging li a .flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}

.flex-control-thumbs li {
    float: left;
    margin: 0;
    width: 25%
}

.flex-control-thumbs img {
    cursor: pointer;
    display: block;
    opacity: .7;
    width: 100%
}

.flex-control-thumbs img:hover {
    opacity: 1
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}

.mask-flexslider {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    z-index: 10
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 0
    }
}

html.remodal-is-locked {
    overflow: hidden;
    touch-action: none
}

.remodal, [data-remodal-id] {
    display: none
}

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none
}

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: ""
}

.remodal-overlay, .remodal-wrapper {
    backface-visibility: hidden
}

.remodal {
    position: relative;
    outline: none;
    text-size-adjust: 100%
}

.remodal-is-initialized {
    display: inline-block
}

.remodal-bg.remodal-is-opening, .remodal-bg.remodal-is-opened {
    filter: blur(3px)
}

.remodal-overlay {
    background: rgba(43, 46, 56, 0.9)
}

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards
}

.remodal-overlay.remodal-is-opening {
    animation-name: remodal-overlay-opening-keyframes
}

.remodal-overlay.remodal-is-closing {
    animation-name: remodal-overlay-closing-keyframes
}

.remodal-wrapper {
    padding: 10px 10px 0
}

.remodal {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff
}

.remodal.remodal-is-opening, .remodal.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards
}

.remodal.remodal-is-opening {
    animation-name: remodal-opening-keyframes
}

.remodal.remodal-is-closing {
    animation-name: remodal-closing-keyframes
}

.remodal, .remodal-wrapper:after {
    vertical-align: middle
}

.remodal-close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent
}

.remodal-close:hover, .remodal-close:focus {
    color: #2b2e38
}

.remodal-close:before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    content: "\00d7";
    text-align: center
}

.remodal-confirm, .remodal-cancel {
    font: inherit;
    display: inline-block;
    overflow: visible;
    min-width: 110px;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0;
    outline: 0
}

.remodal-confirm {
    color: #fff;
    background: #81c784
}

.remodal-confirm:hover, .remodal-confirm:focus {
    background: #66bb6a
}

.remodal-cancel {
    color: #fff;
    background: #e57373
}

.remodal-cancel:hover, .remodal-cancel:focus {
    background: #ef5350
}

.remodal-confirm::-moz-focus-inner, .remodal-cancel::-moz-focus-inner, .remodal-close::-moz-focus-inner {
    padding: 0;
    border: 0
}

@keyframes remodal-opening-keyframes {
    from {
        transform: scale(1.05);
        opacity: 0
    }
    to {
        transform: none;
        opacity: 1
    }
}

@keyframes remodal-closing-keyframes {
    from {
        transform: scale(1);
        opacity: 1
    }
    to {
        transform: scale(0.95);
        opacity: 0
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px
    }
}

.lt-ie9 .remodal-overlay {
    background: #2b2e38
}

.lt-ie9 .remodal {
    width: 700px
}

.booker {
    display: inline-block
}

.booker .form-group {
    float: left
}

.booker .form-group .select-first {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.booker .form-inline {
    position: relative
}

.booker .select {
    position: relative;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 270px;
    height: 50px;
    overflow: hidden;
    background-color: #fff
}

.booker .select:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none
}

.booker .select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    height: 30px;
    margin: auto
}

.booker button {
    padding: 15px 25px;
    height: 50px;
    font-weight: bold;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px
}

@media (max-width: 768px) {
    .booker-home {
        display: block;
        width: 100%
    }

    .booker-home .form-group {
        float: none
    }

    .booker-home .select {
        width: 100%;
        display: block;
        border: 1px solid #ccc;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px
    }

    .booker-home button {
        width: 100%;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px
    }
}

.booker-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 99;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.booker-loader img {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

@media (max-width: 768px) {
    .booker-loader img {
        width: auto
    }
}

.grid-photo-item {
    margin: 15px 0
}

.grid-photo-item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block
}

.grid-photo-item a .grid-photo-name {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    height: 30px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em
}

.grid-photo-item a .grid-photo-name:after {
    width: 30%;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #49a942;
    -webkit-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease
}

.grid-photo-item a .grid-photo-name .grid-photo-title, .grid-photo-item a .grid-photo-name .grid-photo-subtitle {
    display: block
}

.grid-photo-item a .grid-photo-name .grid-photo-subtitle {
    font-weight: normal;
    font-size: 0.75em;
    margin-top: 5px
}

.grid-photo-item a .grid-photo-name .grid-photo-subtitle span {
    display: none
}

@media (max-width: 768px) {
    .grid-photo-item a .grid-photo-name {
        position: relative;
        display: block;
        text-align: left;
        padding-top: 12px;
        padding-bottom: 12px;
        height: auto
    }

    .grid-photo-item a .grid-photo-name:before, .grid-photo-item a .grid-photo-name:after {
        content: " ";
        display: table
    }

    .grid-photo-item a .grid-photo-name:after {
        clear: both
    }

    .grid-photo-item a .grid-photo-name:after {
        display: none
    }

    .grid-photo-item a .grid-photo-name .grid-photo-title, .grid-photo-item a .grid-photo-name .grid-photo-subtitle {
        display: inline-block
    }

    .grid-photo-item a .grid-photo-name .grid-photo-subtitle {
        float: right;
        text-align: right
    }

    .grid-photo-item a .grid-photo-name .grid-photo-subtitle span {
        margin-left: 5px;
        display: block;
        float: right;
        vertical-align: middle;
        font-size: 1.25em
    }
}

.grid-photo-item a .grid-photo-mask {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

@media (max-width: 768px) {
    .grid-photo-item a .grid-photo-mask {
        display: none
    }
}

.grid-photo-item a .grid-photo-img {
    display: block;
    max-width: 100%;
    height: auto
}

@media (max-width: 768px) {
    .grid-photo-item a .grid-photo-img {
        display: none
    }
}

.grid-photo-item a:hover {
    text-decoration: none
}

.grid-photo-item a:hover .grid-photo-name:after {
    width: 50%;
    -webkit-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease
}

.grid-photo-item a:hover .grid-photo-mask {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .8
}

@media (max-width: 768px) {
    .grid-photo-item {
        display: block;
        background-color: #00334e;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px
    }

    .grid-photo-item:hover {
        background-color: #001c2a
    }
}

.line-title {
    margin-top: 60px;
    margin-left: 15px
}

.line-title h3 {
    margin-bottom: 0px;
    font-size: 1.5em
}

.line-title h3 .line-subtitle {
    font-size: 0.7em;
    font-weight: normal;
    color: #777
}

.line-title p {
    margin-top: 5px
}

@media (max-width: 768px) {
    .line-title .line-subtitle {
        display: none
    }
}

.booker {
    display: block
}

.banner-home {
    position: relative;
    height: 480px
}

.banner-home .banner-booker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 215px;
    z-index: 15;
    text-align: center;
    color: #fff
}

.banner-home .banner-booker h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin: 0px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8)
}

.banner-home .banner-booker h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8)
}

.banner-home .banner-booker .form-inline {
    display: table;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 3px
}

.banner-home .banner-booker .link-about {
    cursor: pointer;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 3px;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #49a942;
    -webkit-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease
}

.banner-home .banner-booker .link-about span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    font-size: 1.5em;
    -webkit-animation: shake 2s ease-in-out;
    -o-animation: shake 2s ease-in-out;
    animation: shake 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.banner-home .banner-booker .link-about:hover, .banner-home .banner-booker .link-about:focus {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.3s Ease;
    -o-transition: 0.3s Ease;
    transition: 0.3s Ease
}

.banner-home .banner-booker .link-about:hover span, .banner-home .banner-booker .link-about:focus span {
    -webkit-animation: none;
    -o-animation: none;
    animation: none
}

@media (max-width: 768px) {
    .banner-home {
        margin-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        background: url("../../img/full-width-img/slide1.jpg") center no-repeat
    }

    .banner-home .banner-booker {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
        margin-bottom: 60px
    }

    .banner-home .banner-booker h1 {
        font-size: 2em;
        margin-top: 0
    }

    .banner-home .banner-booker h2 {
        font-size: 1em;
        margin-top: 5px
    }

    .banner-home .banner-booker .form-inline {
        display: block;
        padding: 15px
    }

    .banner-home .banner-booker .link-about span {
        -webkit-animation: none;
        -o-animation: none;
        animation: none
    }
}

@-webkit-keyframes shake {
    0% {
        transform: translatey(0)
    }
    20% {
        transform: translateY(-3px)
    }
    40% {
        transform: translateY(3px)
    }
    60% {
        transform: translateY(-3px)
    }
    80% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(0)
    }
}

@-moz-keyframes shake {
    0% {
        transform: translatey(0)
    }
    20% {
        transform: translateY(-3px)
    }
    40% {
        transform: translateY(3px)
    }
    60% {
        transform: translateY(-3px)
    }
    80% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes shake {
    0% {
        transform: translatey(0)
    }
    20% {
        transform: translateY(-3px)
    }
    40% {
        transform: translateY(3px)
    }
    60% {
        transform: translateY(-3px)
    }
    80% {
        transform: translateY(3px)
    }
    100% {
        transform: translateY(0)
    }
}

.footer-slider {
    background-color: #f3f3f3;
    padding-top: 30px;
    padding-bottom: 30px
}

.icon-description:before, .icon-description:after {
    content: " ";
    display: table
}

.icon-description:after {
    clear: both
}

.icon-description img, .icon-description .content-description {
    display: inline-block;
    float: left
}

.icon-description img {
    margin-right: 15px
}

.icon-description .content-description {
    width: 65%
}

@media (max-width: 768px) {
    .icon-description img {
        margin: 0 auto;
        display: table-cell;
        float: none
    }

    .icon-description .content-description {
        width: 100%;
        text-align: center
    }
}

#home-page .header-general {
    color: #fff;
    border-bottom: none;
    background: none
}

#home-page .header-general .header-logo-white {
    display: block
}

#home-page .header-general .header-logo-color, #home-page .header-general .header-contact {
    display: none
}

#home-page .header-general .header-nav-links a {
    color: #fff
}

#home-page .flexslider {
    position: absolute;
    top: 0;
    z-index: -1;
    display: inline-block;
    width: 100%
}

#home-page .flexslider .slides li img {
    width: auto
}

@media (max-width: 768px) {
    #home-page .flexslider, #home-page .header-logo-white {
        display: none !important
    }

    #home-page .header-logo-color {
        display: inline-block !Important
    }
}

.card-provider {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px
}

@media (min-width: 768px) {
    .card-provider {
        float: left;
        width: 33.33%
    }
}

.card-provider a {
    display: table;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    margin: 0 auto;
    border: 1px solid #eee
}

.card-provider img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto
}

.remodal-close {
    left: auto;
    right: 0
}

.remodal-overlay {
    background: rgba(0, 0, 0, 0.8)
}

.remodal-wrapper h3, .remodal-wrapper p, .remodal-wrapper ul {
    text-align: left
}

.remodal-wrapper .logo-modal {
    width: 250px
}

.remodal-wrapper .links-contact {
    display: block;
    width: 100%;
    margin-top: 15px
}

.remodal-wrapper .links-contact:before, .remodal-wrapper .links-contact:after {
    content: " ";
    display: table
}

.remodal-wrapper .links-contact:after {
    clear: both
}

.remodal-wrapper .links-contact li {
    display: inline-block;
    float: left;
    padding: 10px
}

.remodal-wrapper .links-contact li a {
    width: 100%;
    height: 100%;
    font-weight: bold
}

.remodal-wrapper .links-contact li span {
    color: #49a942
}

.remodal-wrapper .links-contact li:first-child a {
    color: #000;
    text-decoration: none
}

@media (max-width: 768px) {
    .remodal-wrapper .links-contact li:first-child a {
        color: #0066cc
    }
}

/*# sourceMappingURL=t-home.css.map */